@import url("foundation.min.css");
@import url("foundation-icons.css");
.remover{
   
    color: rgb(53,142,127)
}
.editar{
    color: #ffd100
}
.list{
    color: rgb(255,132,0)
}

body{
    background: #263238;
}
h3{
    color: rgb(255,132,0);
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}
.table{
    font-family: 'Bebas Neue', cursive;
	font-size: 18px;
	color: black;
        }
.cima{
   font-family: 'Bebas Neue', cursive;
   font-size: 20px;
   
   
}
.cima{
   
    background-color: rgb(255,132,0);
    border-color:   rgb(255,132,0);
}
th{
    background-color: rgb(255,132,0);
    
   
}
.cont{
     margin-left: 150px;
     margin-top: 50px;
}
.botao{
    margin-left: 960px;
    
    
    
}
.bot{
    
    border-color:   rgb(255,132,0);
    color: rgb(255,132,0);
}

.botaoJog{
    margin-left: 1000px;
    
}
.botaoInfo{
    margin-left: 650px;
    
}