body{
    background: #263238;
    overflow-x: hidden;
    overflow-y: hidden;
}
.card{
	
        background-color: #f9a825;
        font-family: 'Economica', sans-serif;
}
.h2{
font-family: 'Bebas Neue', cursive;
        color: rgb(255,132,0);
        font-size: 50px;
        bottom: -50px;
}
.Gothic{
font-family: 'Pathway Gothic One', sans-serif;
}
.logo{
	font-size: 34px;
	margin-left: 10px;
}
.cor{
   color: rgb(255,132,0);
}
.cores{
     background: rgb(255,132,0);
    border-color: rgb(255,132,0);
}
.core{
     background: rgb(255,132,0);
    border-color: rgb(255,132,0);
}
.cores:hover{
	 background: #ff6600;
    border-color: #ff6600;

}
.cores:active{
	 background: #ff6600;
    border-color: #ff6600;

}
#Lnivel{
    height: 49px;
}