body{
	background-color: #323232;
}

.container{
	height: 100%;
	align-content: center;
}

.table{
	background-color: white;
	color: black;
	width: 800px;
	height: 500px;
	box-shadow: 10px 10px 10px rgba(5,5,0,0.5);
	border-radius: 10px;

}
.container{
	text-align: center;

}
