<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="FutClub (1)_FutClub">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/build/generated/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/java"/>
        <property name="context-root" value="FutClub_(1)_FutClub"/>
        <property name="java-output-path" value="/FutClub (1)_FutClub/build/generated/classes"/>
    </wb-module>
</project-modules>
